body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.wrapper{
  padding: 0 25px 0;
}

.center {
  text-align: center;
}

.wrap-2 {
  width:100%;
  max-width: 800px;
  margin: 0 auto;

}

.one-2 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
  float: left;
}

.two-2 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
  float: right;
}

@media screen and (max-width: 850px) {

  .wrap-2 {
    display: flex;
  }
  .one-2 {
    width: 100%;
  }
  .two-2 {
    width: 100%;
    float: left;

  }
}

@media screen and (max-width: 630px) {
  .wrap-2 {
    display: flex;
  }
  .one-2 {
    width: 100%;
  }
  .two-2 {
    width: 100%;
    float: left;

  }
}

@media screen and (max-width: 530px) {
  .wrap-2 {
    display: inline-block;
  }
  .one-2 {
    width: 100%;
  }
  .two-2 {
    width: 100%;
    float: left;

  }
}

.wrap-3 {
  width:100%;
  max-width: 1200px;
  margin: auto;
  align-content: center;
  display: flex;

}

.one-3 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
  float: left;
}

.two-3 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;

}

.three-3 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 850px) {
  .wrap-3 {
    display: flex;
  }
  .one-3 {
    width: 100%;
    float: left;
  }
  .two-3 {
    width: 100%;
    float: left;
  }
  .three-3 {
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 670px) {
  .wrap-3 {
    display: inline-block;
  }
  .one-3 {
    width: 100%;

  }
  .two-3 {
    width: 100%;

  }
  .three-3 {
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 450px) {
  .one-3 {
    width: 100%;
  }
  .two-3 {
    width: 100%;
  }
  .three-3 {
    width: 100%;
    float: left;
  }
}


.wrap-4 {
  width:100%;
  max-width: 1600px;
  align-content: center;
  display: flex;
  margin: auto;
}

.wrapper-1 {
display: inline-flex;
}
.wrapper-2{
  display: inline-flex;
}

.one-4 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.two-4 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.three-4 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.four-4 {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 995px) {
  .wrap-4 {
    display: block;
  }
  .wrapper-1{
    display: flex;
  }
}


@media screen and (max-width: 530px) {
  .wrap-4 {
    display: grid;

  }
  .wrapper-1{
    display: block;
  }
  .wrapper-2{
    display: block;
  }
}
